<div class="row">
    <div class="col">
        <div class="align-div">
            {{ orderData.id }}
        </div>
    </div>

    <div class="col">
        <div class="align-div">
            {{ orderData.deliveringTo }}
        </div>
    </div>

    <div class="col">
        <div class="align-div">
            {{ orderData.address }}
        </div>
    </div>

    <div class="col">
        <div class="align-div">
            {{ orderData.comment }}
        </div>
    </div>

    <div class="col">
        <div class="align-div">
            {{ orderData.products }}
        </div>
    </div>

    <div class="col">
        <div class="align-div">
            {{ orderData.price }} RSD
        </div>
    </div>

    <div class="col">
        <div class="align-div">
            <button class="btn btn-light verify-button" (click)="AcceptOrder(orderData.id)">Accept Order</button>
        </div>
    </div>

</div>