/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('/assets/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.error-message{
    color: #ff0000;
}

.alert{
    padding: 5px;
}