.product-holder{
    background-color: rgb(63, 63, 63);
    border-radius: 5px;
    width:30%;
    height: fit-content;
    padding: 10px;
    float: left; 
    margin: 1.6%;
    border: 2px solid rgb(84, 84, 84);
    min-width: 210px;
    transition: background-color 0.2s;
}

.product-holder:hover{
    background-color: rgb(72, 72, 72);
}

.product-image{
    width: 160px;
    height: 160px;
    border-radius: 5px;
    transition: transform .4s;
}

.product-image:hover{
    transform: scale(1.1);
}