<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-align-div">
                {{ order.id }}
            </div>
        </div>

        <div class="col">
            <div class="text-align-div">
                {{ order.deliveryBy }}
            </div>
        </div>

        <div class="col">
            <div class="text-align-div">
                {{ order.orderState }}
            </div>
        </div>

        <div class="col">
            <div class="text-align-div">
                {{ order.address }}
            </div>
        </div>

        <div class="col">
            <div class="text-align-div">
                {{ order.comment }}
            </div>
        </div>

        <div class="col">
            <div class="text-align-div">
                {{ order.products }}
            </div>
        </div>

        <div class="col">
            <div class="text-align-div">
                {{ order.price }} RSD
            </div>
        </div>

        <div class="col">
            <div class="text-align-div">
                {{ order.deliveryTime.split('T')[0] }}<br/>
                {{ order.deliveryTime.split('T')[1] }}
            </div>
        </div>
    </div>
</div>