<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Change Password</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="changePasswordForm" (ngSubmit)="ChangePassword()">

            <table>
                <tr>
                    <td colspan="2">
                        New Password
                    </td>
                </tr>
                <tr class="space-under">
                    <td colspan="2">
                        <input type="password" class="form-control" formControlName="newPassword" [(ngModel)]="newPasswordInputText"/>
                
                        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
                            <div *ngIf="newPassword.errors?.['required']">
                                New Password is required.
                            </div>
                        </div>
                    </td>
                </tr>
        
                <tr>
                    <td colspan="2">
                        Confirm New Password
                    </td>
                </tr>
                <tr class="space-under">
                    <td colspan="2">
                        <input type="password" class="form-control" formControlName="confirmNewPassword"/>
                
                        <div *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)" class="alert alert-danger">
                            <div *ngIf="confirmNewPassword.errors?.['required']">
                                Confirm New Password is required.
                            </div>
                            <div *ngIf="confirmNewPassword.errors?.['mustMatch']">
                                Passwords must match.
                            </div>
                        </div>
                    </td>
                </tr>
                

                <br/>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn btn-light form-control" value="Change Password"/>
                    </td>
                </tr>
            </table>
        </form>    
    </div>
</div>