.container{
    text-align: center;
    min-width: 550px;
}

table{
    width: 50%; 
    margin:auto;
    text-align: left;
}

td{
    font-size: larger;
}

tr.space-under>td {
    padding-bottom: 10px;
}