<div class="container">
    <div class="row">
        <h1>Welcome to the Chocolate Factory!</h1><br/>
        <h2>Dashboard</h2>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col dashboard-items-holder">
                    <h4>User</h4>
                    <hr/>

                    <a routerLink="/profile">
                        <div class="dashboard-item">
                            <img src="/assets/icons/profile-icon.png" class="dashboard-icon"/><br/>
                            Profile
                        </div>
                    </a>

                    <a routerLink="">
                        <div class="dashboard-item">
                            <img src="/assets/icons/new-current-order-icon.png" class="dashboard-icon"/><br/>
                            New/Current Order
                        </div>
                    </a>
            
                    <a routerLink="">
                        <div class="dashboard-item">
                            <img src="/assets/icons/past-orders-icon.png" class="dashboard-icon"/><br/>
                            Past Orders
                        </div>
                    </a>
                </div>

                <div class="col dashboard-items-holder">
                    <h4>Deliverer</h4>
                    <hr/>

                    <a routerLink="">
                        <div class="dashboard-item">
                            <img src="/assets/icons/new-orders-icon.png" class="dashboard-icon"/><br/>
                            New Orders
                        </div>
                    </a>
        
                    <a routerLink="">
                        <div class="dashboard-item">
                            <img src="/assets/icons/my-orders-icon.png" class="dashboard-icon"/><br/>
                            My Orders
                        </div>
                    </a>
            
                    <a routerLink="">
                        <div class="dashboard-item">
                            <img src="/assets/icons/current-order-icon.png" class="dashboard-icon"/><br/>
                            Current Order
                        </div>
                    </a>

                </div>

                <div class="col dashboard-items-holder">
                    <h4>Admin</h4>
                    <hr/>

                    <a routerLink="">
                        <div class="dashboard-item">
                            <img src="/assets/icons/verification-icon.png" class="dashboard-icon"/><br/>
                            Verification
                        </div>
                    </a>
            
                    <a routerLink="">
                        <div class="dashboard-item">
                            <img src="/assets/icons/all-orders-icon.png" class="dashboard-icon"/><br/>
                            All Orders
                        </div>
                    </a>
        
                    <a routerLink="">
                        <div class="dashboard-item">
                            <img src="/assets/icons/add-new-product-icon.png" class="dashboard-icon"/><br/>
                            Add New Product
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>