.product-holder{
    background-color: rgb(63, 63, 63);
    border-radius: 5px;
    width:30%;
    height: fit-content;
    padding: 10px;
    float: left; 
    margin: 1.6%;
    border: 2px solid rgb(84, 84, 84);
}

.product-image{
    width: 70%;
    height: auto;
    border-radius: 5px;
}