<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Current order status</h1>
            <hr/>
        </div>
    </div>

    <div *ngIf="staticUrl.orderState === 'PENDING'">
        <div class="pending">
            Your order is pending delivery
        </div>
    </div>

    <div *ngIf="staticUrl.orderState === 'IN_DELIVERY'" class="timer">
        <div>Your order is on the way!</div><br/><br/>
        <div>Time remaining:</div><br/>
        <span id="minutes"></span> : <span id="seconds"></span>
    </div>

</div>