<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Edit your profile</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="profileEditForm" (ngSubmit)="UpdateProfileInformation()">

            <div class="image-holder">
                <img class="profile-image" src="{{ userProfilePicturePath }}" alt="profile picture" style="max-height: 200px;"/>
            </div><br/>

            <table>
                <tr>
                    <td colspan="2">
                        Username
                    </td>
                </tr>
                <tr class="space-under">
                    <td colspan="2">
                        <input type="text" class="form-control" formControlName="username" [(ngModel)]="user.username"/>
                
                        <div *ngIf="username.invalid && username.dirty" class="alert alert-danger">
                            <div *ngIf="username.errors?.['required']">
                                Username is required.
                            </div>
                        </div>
                    </td>

                </tr>
        
                <tr>
                    <td style="width: 50%;">First Name</td>
                    <td style="width: 50%;">Last Name</td>
                </tr>
                <tr class="space-under">
                    <td>
                        <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="user.firstName"/>
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="user.lastName"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div *ngIf="firstName.invalid && firstName.dirty" class="alert alert-danger">
                            <div *ngIf="firstName.errors?.['required']">
                                First Name is required.
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="lastName.invalid && lastName.dirty" class="alert alert-danger">
                            <div *ngIf="lastName.errors?.['required']">
                                Last Name is required.
                            </div>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2">Date of Birth</td>
                </tr>
                <tr class="space-under">
                    <td colspan="2">
                        <input type="date" class="form-control" formControlName="dateOfBirth" [(ngModel)]="user.dateOfBirth"/>
                        
                        <div *ngIf="dateOfBirth.invalid && dateOfBirth.dirty" class="alert alert-danger">
                            <div *ngIf="dateOfBirth.errors?.['required']">
                                Date of Birth is required.
                            </div>
                        </div>
                    </td>
                </tr>
        
                <tr>
                    <td colspan="2">Address</td>
                </tr>
                <tr class="space-under">
                    <td colspan="2">
                        <input type="text" class="form-control" formControlName="address" [(ngModel)]="user.address"/>

                        <div *ngIf="address.invalid && address.dirty" class="alert alert-danger">
                            <div *ngIf="address.errors?.['required']">
                                Address is required.
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">Profile Picture</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                    </td>
                </tr>

                <br/>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn btn-light form-control" value="Edit Profile"/>
                    </td>
                </tr>
            </table>
        </form>    
    </div>
</div>